@model Employees

<div class="modal fade" id="DetailsOne-@Model.Id" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #462746;">
                <h5 class="modal-title">Details</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="border p-3 bt-4">
                        <div class="mb-3">
                        <label>First Name :</label>
                            <span class="">&nbsp   @Model.FirstName</span>
                        </div>

                    <div class="mb-3">
                        <label>Last Name :</label>
                        <span class="">&nbsp   @Model.LastName</span>
                    </div>

                    <div class="mb-3">
                        <label>Email :</label>
                        <span class="">&nbsp   @Model.Email</span>
                    </div>

                    <div class="mb-3">
                        <label>Phone Number :</label>
                        <span class="">&nbsp   @Model.PhoneNo</span>
                    </div>

                        <div class="mb-3">
                        <label>Hour Rate :</label>
                        <span class="">&nbsp   @Model.HourRate</span>
                        </div>
                        <br>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn text-white btn-danger" style="width: 80px;"
                                data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>
