@model Employees

<div class="modal fade" id="addone" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #180344;">
                <h5 class="modal-title">Add New Employee </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" onclick="clearAllErrMsgNewEmployee()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <form method="post" asp-action="NewEmployee" name="NewEmployee">

                <div class="border p-3 bt-4">
                    <div class="mb-3">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" class="form-control" autocomplete="off" value="@ViewBag.FixCostName">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                       <div class="mb-3">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" class="form-control" autocomplete="off" value="@ViewBag.FixCostName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                       <div class="mb-3">
                        <label asp-for="Email">Email</label>
                        <input type="email" asp-for="Email" class="form-control" autocomplete="off" value="@ViewBag.FixCostName">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                       <div class="mb-3">
                        <label asp-for="PhoneNo">PhoneNo</label>
                        <input type="number" asp-for="PhoneNo" class="form-control" autocomplete="off" value="@ViewBag.FixCostName">
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    <div class="mb-3">
                        <label asp-for="HourRate">Hour Rate</label>
                        <div class="input-group">
                            <input asp-for="HourRate" type="number" class="form-control" autocomplete="off"
                                   value="@ViewBag.HourRate" min="0">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-currency-euro font-weight-bold"></i>
                                </span>
                            </div>

                        </div>
                        <span asp-validation-for="HourRate" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn text-white btn-danger" style="width: 80px;"
                                data-dismiss="modal" onclick="clearAllErrMsgNewEmployee()">
                            Cancel
                        </button>
                        <button type="submit" class="btn my-btns text-white btn-primary" style="width:80px;"
                                onclick="return isEmptyFieldsEmployee()">
                            Save
                        </button>
                    </div>
                  
                </div>
                    </div>

            </form>
            </div>
        </div>
    </div>
</div>
<script>
    const form = document.querySelector('form[name="NewEmployee"]');
    const firstNameInput = form.querySelector('input[name="FirstName"]');
    const lastNameInput = form.querySelector('input[name="LastName"]');
    const emailInput = form.querySelector('input[name="Email"]');
    const phoneNoInput = form.querySelector('input[name="PhoneNo"]');
    const hourRateInput = form.querySelector('input[name="HourRate"]');
    const firstNameInputerr = form.querySelector('span[data-valmsg-for="FirstName"]');
    const lastNameInputerr = form.querySelector('span[data-valmsg-for="LastName"]');
    const emailInputerr = form.querySelector('span[data-valmsg-for="Email"]');
    const phoneNoInputerr = form.querySelector('span[data-valmsg-for="PhoneNo"]');
    const hourRateInputerr = form.querySelector('span[data-valmsg-for="HourRate"]');

    function isEmptyFieldsEmployee() {
        if (firstNameInput.value == "") {
            clearAllErrMsgNewEmployee();
            firstNameInputerr.textContent = "You must put a first name for the employee!!";
            return false;
        } else if (lastNameInput.value == "")  { 
            clearAllErrMsgNewEmployee();
            lastNameInputerr.textContent = "You must put a last name for the employee!!";
            return false;
        } else if (emailInput.value == "")  { 
            clearAllErrMsgNewEmployee();
            emailInputerr.textContent = "You must put an email for the employee!!";
            return false;
        } else if (phoneNoInput.value == "")  { 
            clearAllErrMsgNewEmployee();
            phoneNoInputerr.textContent = "You must put a phone number for the employee!!";
            return false;
        } else if (hourRateInput.value == null || hourRateInput.value == 0) {
            clearAllErrMsgNewEmployee();
            hourRateInputerr.textContent = "You must put an hour rate for the employee!!";
            return false;
        }
        else {
            clearAllErrMsgNewEmployee();
            return true;
        }
    }
           
    function clearAllErrMsgNewEmployee() {
        firstNameInputerr.textContent = "";
        lastNameInputerr.textContent = "";
        emailInputerr.textContent = "";
        phoneNoInputerr.textContent = "";
        hourRateInputerr.textContent = "";
    }
</script>
