@model IEnumerable<FixCosts>
@{
    ViewData["Title"] = "Fix Cost Table";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <h1 class="card-title w-100 text-center font-weight-bold font-family:sans-serif;" style="font-size:40px;">Fix Cost Table</h1>
            <div class="col-12">

                @if (Model.Any())
                {
                    <div class="card">

                        <div class="card-header">

                            <div class="w-50">
                                <a id="mybtn" data-toggle="modal" data-target="#addone"
                               class="" style="text-decoration: none;cursor: pointer;"><i class="bi bi-plus"></i> Add New Fix Cost</a>
                                @await Html.PartialAsync("_NewFixCost", new FixCosts())
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped " style="font-size:15px;">
                                <thead>
                                    <tr>
                                        <th>Fix Cost Name</th>
                                        <th>monthly Cost</th>
                                        <th>Cost</th>
                                        <th>Date</th>
                                        <th>Date of Update</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var fixcost in Model)
                                    {
                                        try
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    @fixcost.Title
                                                </td>
                                                <td  class="text-center">
                                                    @fixcost.monthlyCost
                                                </td>
                                                <td  class="text-center">
                                                    @fixcost.Cost
                                                </td>
                                                <td class="text-center">
                                                    @fixcost.Date.ToString("dd-MM-yyyy")
                                                </td>
                                                <td  class="text-center">
                                                    @if (fixcost.lastUpdate.ToString() == fixcost.Date.ToString())
                                                    {
                                                        <p>-</p>
                                                    }else{
                                                        @fixcost.lastUpdate.ToString("dd-MM-yyyy")
                                                    }
                                                    
                                                </td>
                                                <td width="10%">
                                                    <a data-url='@Url.Action($"_EditFixCost/{fixcost.Id}")'
                                           id="edit+@fixcost.Id" data-toggle="modal"
                                           data-target='#EditOne-@fixcost.Id' class="btn btn-success text-center "><i class="bi bi-eye"></i> Edit</a>
                                                    @await Html.PartialAsync("_EditFixCost", fixcost)
                                                </td>

                                                <td width="10%">
                                                    <a data-url='@Url.Action($"_DeleteFixCost/{fixcost.Id}")'
                                           id="delete+@fixcost.Id" data-toggle="modal"
                                           data-target='#DeleteOne-@fixcost.Id' class="btn btn-danger text-left"><i class="bi bi-trash"></i> Delete</a>
                                                    @await Html.PartialAsync("_DeleteFixCost", fixcost)
                                                </td>

                                            </tr>
                                        }
                                        catch (Exception ex)
                                        {
                                            <partial>@ex.Message</partial>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Fix Cost Mame</th>
                                        <th>monthly Cost</th>
                                        <th>Cost</th>
                                        <th>Date</th>
                                        <th>Date of Update</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>

                }
                else
                {
                    <div class=" ">
                        <a id="mybtn" data-toggle="modal" data-target="#addone"
                       class="" style="text-decoration: none;cursor: pointer; "><i class="bi bi-plus"></i> Add New Fix Cost</a>
                        @await Html.PartialAsync("_NewFixCost", new FixCosts())
                        <p class="font-weight-bold text-center mt-5">No fix costs . Let's add a fix cost ...</p>
                    </div>
                }
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>



<!-- reopen popup NewFixCost -->
@if (ViewData["reopenPopupNew"] != null)
{
    <script type="text/javascript">
        const link = document.getElementById("mybtn");
        setTimeout(() => {
            link.click();
        }, 500);
    </script>
}
