@model IEnumerable<Employees>

<div class="card" style="width:48%">
    <div class="card-header">
        <h3 class="card-title">Employees Selection</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Hour Rate</th>
                    <th style="width: 120px">Hour Count</th>
                    <th style="width: 40px">Sum</th>
                </tr>
            </thead>
            <tbody id="pricingEmployees">
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="myEmployeeCheckbox" value="" id="myEmployeeCheckbox + @employee.Id">
                            </div>
                        </td>
                        <td>
                            <label for="myEmployeeCheckbox + @employee.Id" style="user-select :none"> @employee.FirstName </label>
                        </td>
                        <td>
                            <label for="myEmployeeCheckbox + @employee.Id" style="user-select :none"> @employee.LastName </label>
                        </td>
                        <td>
                            <label for="myEmployeeCheckbox + @employee.Id" style="user-select :none"> @employee.HourRate </label>
                            <span id="myEmployeeHourRate_@employee.Id" style="display:none;">@employee.HourRate</span>
                        </td>
                        <td>
                            <input type="number" class="form-control form-control-sm" id="myInput1_@employee.Id" value="" min="1">
                        </td>
                        <td>
                            <input type="hidden" style="display:none" value="@employee.Id">
                            <span id="result_@employee.Id"></span>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script>


    window.addEventListener('load', lockMyField);
    document.getElementById("pricingEmployees").addEventListener("change", lockMyField);
    function lockMyField() {
        const checkboxes = document.querySelectorAll("#pricingEmployees input[type='checkbox']");

        checkboxes.forEach(function (checkbox) {
            const numberInputs = checkbox.closest("tr").querySelectorAll("input[type='number']");

            if (checkbox.checked) {
                numberInputs.forEach(function (input) {
                    input.disabled = false;
                });
            } else {
                numberInputs.forEach(function (input) {
                    input.disabled = true;
                    input.value = "";

                    const spanId = "result_" + input.closest("tr").querySelector("input[type='hidden']").value;
                    const spanElement = document.getElementById(spanId);
                    spanElement.textContent = "";
                });
            }
        });
    }

    const myFeilds = document.querySelectorAll('#pricingEmployees tr td input[type="number"]');

    myFeilds.forEach(input => {
        input.addEventListener("input", function () {
            const rowId = this.closest("tr").querySelector("input[type='hidden']").value;
            const spanId = "result_" + rowId;
            const myFeild1Id = "myInput1_" + rowId;
            const myFeild1 = document.getElementById(myFeild1Id);
            const employeeHourRate = document.getElementById("myEmployeeHourRate_" + rowId).textContent;
            if (myFeild1.value.length > 6) { myFeild1.value = 999999; }
            myFeild1.addEventListener("focus", function () { this.select(); });
            const spanElement = document.getElementById(spanId);
            spanElement.textContent = EuroSignal(result(employeeHourRate, myFeild1.value));
        });
    });

    function result(x, y) {
        return x * y;
    }

    function EuroSignal(elm) {
        const x = new Intl.NumberFormat('de-DE', {
            style: 'currency',
            currency: 'EUR',
        }).formatToParts(elm).map(
            p => p.type != 'literal' && p.type != 'currency' ? p.value : ''
        ).join('');
        var y = x + "€"
        return y;

    }

    function selectAll(input) {

        const start = input.selectionStart;
        const end = input.value.length + 1;

        // Set the selection to the entire input
        input.setSelectionRange(start, end);
    }

</script>